In [1]:
# This is a self-defined python script that stores the data cleaning function
# We will call the functions defined in the "data.py" script to clean and process economic data
import data
import config
import fredapi as fa

### Clean & Process features & labels

In [2]:
df_emp = data.data_employment()
df_emp

,nonfarm_payroll,payroll_delta_1m,payroll_delta_3m,payroll_delta_6m,payroll_delta_12m,payroll_diff_12m_1m,payroll_diff_12m_3m,payroll_diff_12m_6m
date,,,,,,,,
1939-01-01,29923.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1939-02-01,30100.0,0.591518,NaN,NaN,NaN,NaN,NaN,NaN
1939-03-01,30280.0,0.598007,NaN,NaN,NaN,NaN,NaN,NaN
1939-04-01,30094.0,-0.614267,0.571467,NaN,NaN,NaN,NaN,NaN
1939-05-01,30299.0,0.681199,0.661130,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-01-01,149744.0,0.337711,1.174960,2.293236,4.703637,4.365926,3.528676,2.410400
2022-02-01,150458.0,0.476814,1.214918,2.419267,4.683184,4.206370,3.468266,2.263917
2022-03-01,150856.0,0.264526,1.082820,2.394657,4.448491,4.183965,3.365671,2.053834
2022-04-01,151292.0,0.289017,1.033764,2.220871,4.559968,4.270951,3.526204,2.339097
2022-05-01,151682.0,0.257780,0.813516,2.038318,4.506652,4.248872,3.693136,2.468334

In [3]:
df_monetary = data.data_monetary()
df_monetary

,policy_rate,policy_rate_1m_ago,policy_rate_delta_1m,policy_rate_3m_ago,policy_rate_delta_3m,policy_rate_6m_ago,policy_rate_delta_6m,policy_rate_12m_ago,policy_rate_delta_12m
date,,,,,,,,,
1954-07-01,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954-08-01,1.22,0.80,0.42,NaN,NaN,NaN,NaN,NaN,NaN
1954-09-01,1.07,1.22,-0.15,NaN,NaN,NaN,NaN,NaN,NaN
1954-10-01,0.85,1.07,-0.22,0.80,0.05,NaN,NaN,NaN,NaN
1954-11-01,0.83,0.85,-0.02,1.22,-0.39,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2022-01-01,0.08,0.08,0.00,0.08,0.00,0.10,-0.02,0.09,-0.01
2022-02-01,0.08,0.08,0.00,0.08,0.00,0.09,-0.01,0.08,0.00
2022-03-01,0.20,0.08,0.12,0.08,0.12,0.08,0.12,0.07,0.13
2022-04-01,0.33,0.20,0.13,0.08,0.25,0.08,0.25,0.07,0.26
2022-05-01,0.77,0.33,0.44,0.08,0.69,0.08,0.69,0.06,0.71

In [4]:
df_inflation = data.data_inflation()
df_inflation

                CPI  CPI_delta_1m  CPI_delta_3m  CPI_delta_6m  CPI_delta_12m
date
1947-01-01   21.480           NaN           NaN           NaN            NaN
1947-02-01   21.620      0.651769           NaN           NaN            NaN
1947-03-01   22.000      1.757632           NaN           NaN            NaN
1947-04-01   22.000      0.000000      2.420857           NaN            NaN
1947-05-01   21.950     -0.227273      1.526364           NaN            NaN
...             ...           ...           ...           ...            ...
2022-01-01  281.933      0.645067      1.931740      3.581768       7.525934
2022-02-01  284.182      0.797707      2.031423      4.060903       7.912024
2022-03-01  287.708      1.240754      2.706639      4.920974       8.557586
2022-04-01  288.663      0.331934      2.387092      4.364945       8.224139
2022-05-01  291.474      0.973800      2.565961      4.649510       8.516413

[905 rows x 5 columns]

In [5]:
yield_curve = data.data_yield_curve()
yield_curve

,yield_10y,yield_3m,yield_10y_1m_ago,yield_10y_delta1m,yield_10y_3m_ago,yield_10y_delta3m,yield_10y_6m_ago,yield_10y_delta6m,yield_10y_12m_ago,yield_10y_delta12m,yield_spread
date,,,,,,,,,,,
1953-04-01,2.83,2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.64
1953-05-01,3.05,2.16,2.83,0.22,NaN,NaN,NaN,NaN,NaN,NaN,0.89
1953-06-01,3.11,2.11,3.05,0.06,NaN,NaN,NaN,NaN,NaN,NaN,1.00
1953-07-01,2.93,2.04,3.11,-0.18,2.83,0.10,NaN,NaN,NaN,NaN,0.89
1953-08-01,2.95,2.04,2.93,0.02,3.05,-0.10,NaN,NaN,NaN,NaN,0.91
...,...,...,...,...,...,...,...,...,...,...,...
2022-01-01,1.76,0.15,1.47,0.29,1.58,0.18,1.32,0.44,1.08,0.68,1.61
2022-02-01,1.93,0.33,1.76,0.17,1.56,0.37,1.28,0.65,1.26,0.67,1.60
2022-03-01,2.13,0.44,1.93,0.20,1.47,0.66,1.37,0.76,1.61,0.52,1.69
2022-04-01,2.75,0.76,2.13,0.62,1.76,0.99,1.58,1.17,1.64,1.11,1.99
2022-05-01,2.90,0.98,2.75,0.15,1.93,0.97,1.56,1.34,1.62,1.28,1.92

In [6]:
data_stock_daily = data.get_stock_data_yahoo(['^GSPC'],
                                  date_from='1920-01-01',
                                  date_to='2022-03-31',
                                  interval='d')[['Date', 'Adj Close']]
data_stock_daily

            Date    Adj Close
0     1927-12-30    17.660000
1     1928-01-03    17.760000
2     1928-01-04    17.719999
3     1928-01-05    17.549999
4     1928-01-06    17.660000
...          ...          ...
23671 2022-03-25  4543.060059
23672 2022-03-28  4575.520020
23673 2022-03-29  4631.600098
23674 2022-03-30  4602.450195
23675 2022-03-31  4530.410156

[23676 rows x 2 columns]

In [7]:
data_stock_daily.to_csv('sp500_daily_data.csv', index=False)

In [8]:
import pandas as pd
data_stock = pd.read_csv('sp500_daily_data.csv')
data_stock

             Date    Adj Close
0      1927-12-30    17.660000
1      1928-01-03    17.760000
2      1928-01-04    17.719999
3      1928-01-05    17.549999
4      1928-01-06    17.660000
...           ...          ...
23671  2022-03-25  4543.060059
23672  2022-03-28  4575.520020
23673  2022-03-29  4631.600098
23674  2022-03-30  4602.450195
23675  2022-03-31  4530.410156

[23676 rows x 2 columns]

In [11]:
df_stock = data.data_stock_market()
df_stock

/Users/kaylee/PycharmProjects/frtlab-recession-prediction/python_code/data.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['Date'] - pd.offsets.MonthBegin(1)

,sp500,sp500_delta_1m,sp500_delta_3m,sp500_delta_6m,sp500_delta_12m
date,,,,,
1927-12-01,17.660000,NaN,NaN,NaN,NaN
1928-01-01,17.570000,-0.509627,NaN,NaN,NaN
1928-02-01,17.260000,-1.764368,NaN,NaN,NaN
1928-03-01,19.280001,11.703363,9.173278,NaN,NaN
1928-04-01,19.750000,2.437756,12.407515,NaN,NaN
...,...,...,...,...,...
2021-11-01,4567.000000,-0.833371,0.979946,8.631795,26.103444
2021-12-01,4766.180176,4.361291,10.647380,10.905880,26.892739
2022-01-01,4515.549805,-5.258517,-1.950547,2.736813,21.573991
2022-02-01,4373.939941,-3.136049,-4.227284,-3.288763,14.766935
2022-03-01,4530.410156,3.577329,-4.946729,5.173953,14.033116

In [13]:
df_vol = data.data_volatility()
df_vol

/Users/kaylee/PycharmProjects/frtlab-recession-prediction/data.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['Date'] - pd.offsets.MonthBegin(1)

             vol_30d
date
1927-12-01       NaN
1928-01-01       NaN
1928-02-01  0.666832
1928-03-01  0.776760
1928-04-01  0.927945
...              ...
2021-11-01  0.729942
2021-12-01  1.112502
2022-01-01  1.122077
2022-02-01  1.390119
2022-03-01  1.486786

[1132 rows x 1 columns]

In [17]:
df_recession = data.data_recession()
df_recession

            recession  recession_3m  recession_6m  recession_12m
date
1947-02-01        1.0             1             1              1
1947-03-01        1.0             1             1              1
1947-04-01        1.0             1             1              1
1947-05-01        1.0             1             1              1
1947-06-01        1.0             1             1              1
...               ...           ...           ...            ...
2021-12-01        1.0             1             0              0
2022-01-01        1.0             1             0              0
2022-02-01        1.0             0             0              0
2022-03-01        1.0             0             0              0
2022-04-01        1.0             0             0              0

[903 rows x 4 columns]

### Combine all X & y data

In [15]:
all_data = df_emp.join(df_monetary).join(df_inflation).join(yield_curve).join(df_stock).join(df_vol).join(df_recession)
all_data

,nonfarm_payroll,payroll_delta_1m,payroll_delta_3m,payroll_delta_6m,payroll_delta_12m,payroll_diff_12m_1m,payroll_diff_12m_3m,payroll_diff_12m_6m,policy_rate,policy_rate_1m_ago,...,sp500,sp500_delta_1m,sp500_delta_3m,sp500_delta_6m,sp500_delta_12m,vol_30d,recession,recession_3m,recession_6m,recession_12m
date,,,,,,,,,,,,,,,,,,,,,
1939-01-01,29923.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.300000,-6.392695,-6.605922,-0.243307,15.060811,1.846643,NaN,NaN,NaN,NaN
1939-02-01,30100.0,0.591518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.700000,3.252029,-0.235662,5.306794,11.992942,1.868115,NaN,NaN,NaN,NaN
1939-03-01,30280.0,0.598007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.980000,-13.543309,-16.438362,-10.294120,29.176465,1.755651,NaN,NaN,NaN,NaN
1939-04-01,30094.0,-0.614267,0.571467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.930000,-0.455366,-11.138210,-17.008350,11.758697,1.988600,NaN,NaN,NaN,NaN
1939-05-01,30299.0,0.681199,0.661130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.600000,6.129918,-8.661413,-8.876663,25.134842,1.223243,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-01,149240.0,0.395555,1.297785,2.431056,4.732029,4.336475,3.434245,2.300973,0.08,0.08,...,4766.180176,4.361291,10.647380,10.905880,26.892739,1.112502,1.0,1.0,0.0,0.0
2022-01-01,149744.0,0.337711,1.174960,2.293236,4.703637,4.365926,3.528676,2.410400,0.08,0.08,...,4515.549805,-5.258517,-1.950547,2.736813,21.573991,1.122077,1.0,1.0,0.0,0.0
2022-02-01,150458.0,0.476814,1.214918,2.419267,4.683184,4.206370,3.468266,2.263917,0.08,0.08,...,4373.939941,-3.136049,-4.227284,-3.288763,14.766935,1.390119,1.0,0.0,0.0,0.0
2022-03-01,150886.0,0.284465,1.102921,2.415020,4.469262,4.184797,3.366341,2.054243,0.20,0.08,...,4530.410156,3.577329,-4.946729,5.173953,14.033116,1.486786,1.0,0.0,0.0,0.0
2022-04-01,151314.0,0.283658,1.048456,2.235735,4.575172,4.291515,3.526716,2.339437,0.33,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [29]:
# Save all the features & y variable to a local directory
all_data.to_csv('data_folder/data/all_data.csv')

### Note on 3m yield data substitue

In [23]:
# Connect API
fred = fa.Fred(api_key=config.FRED_API_KEY)

# 3m Tbill secondary
data_3m_sec = fred.get_series(config.TBILL_MONTHLY['3M']).rename('3m_sec').reset_index().rename(
    columns={'index': 'date'}).set_index('date')

# 3m Treasury constant maturity
data_3m_mat = fred.get_series(config.TREASURY_MONTHLY['3M']).rename('3m_mat').reset_index().rename(
    columns={'index': 'date'}).set_index('date')

In [24]:
data_3m_sec

            3m_sec
date
1934-01-01    0.72
1934-02-01    0.62
1934-03-01    0.24
1934-04-01    0.15
1934-05-01    0.16
...            ...
2021-12-01    0.06
2022-01-01    0.15
2022-02-01    0.33
2022-03-01    0.44
2022-04-01    0.76

[1060 rows x 1 columns]

In [25]:
data_3m_mat

            3m_mat
date
1981-09-01   15.61
1981-10-01   14.23
1981-11-01   11.35
1981-12-01   11.32
1982-01-01   12.92
...            ...
2021-12-01    0.06
2022-01-01    0.15
2022-02-01    0.31
2022-03-01    0.45
2022-04-01    0.76

[488 rows x 1 columns]

In [27]:
data_3m = data_3m_sec.join(data_3m_mat).dropna()
data_3m

            3m_sec  3m_mat
date
1981-09-01   14.70   15.61
1981-10-01   13.54   14.23
1981-11-01   10.86   11.35
1981-12-01   10.85   11.32
1982-01-01   12.28   12.92
...            ...     ...
2021-12-01    0.06    0.06
2022-01-01    0.15    0.15
2022-02-01    0.33    0.31
2022-03-01    0.44    0.45
2022-04-01    0.76    0.76

[488 rows x 2 columns]

In [28]:
# Show correlation between two yields during the overlapping period
data_3m.corr()

          3m_sec    3m_mat
3m_sec  1.000000  0.999935
3m_mat  0.999935  1.000000